<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly"
    package="com.mrkevinthomas.kcards">

    <!-- for downloading or uploading content -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- for determining whether a connection is available -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="ThisApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".deck_list.DeckListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".deck_list.SharedDeckListActivity"
            android:parentActivityName=".deck_list.DeckListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".deck_list.FollowedDeckListActivity"
            android:parentActivityName=".deck_list.DeckListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".card_list.CardListActivity"
            android:parentActivityName=".deck_list.DeckListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".card_pager.CardPagerActivity"
            android:parentActivityName=".card_list.CardListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".card_swipe.CardSwipeActivity"
            android:parentActivityName=".deck_list.DeckListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>